.DS_Store
.idea/
**/node_modules
**/.ipynb_checkpoints
**/.serverless
**/.requirements.zip
node_modules/
*.csv
*.xlsx
.idea/workspace.xml
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/settings.json
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
*.pyc
shared/redshift_to_google_sheet_write/credentials/google-sheet_client_secret.json
venv/
.vscode/
.venv/
__pycache__
.serverless/
.scripts/env/
env/
layers/rdl/appstore-analytics-data/service-account.json
#Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
package-lock.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
apps/automated_slide_presentation/mena_csr_service_account.json
